:root {
  --bg-color: rgb(15, 22, 38);
  --text-color: rgb(245, 245, 245);
  --primary-color: rgb(0, 102, 255);
  --bg-code: 15, 22, 38;
  --text-code: 245, 245, 245;
  --primary-code: 0, 102, 255;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 5rem;
}

html {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th,
.fw-500 {
  font-weight: 500;
}

strong {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.play-font {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  position: relative;
  padding: 4rem 1rem;
  min-height: calc(100vh - 5rem);
  overflow: hidden;
}
.indicator {
  position: absolute;
  top: 50vh;
}

.btn {
  font-family: Poppins;
  font-weight: 300;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  cursor: pointer;
  outline: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-secondary {
  background-color: rgba(var(--text-code), 0.2);
  color: var(--text-color);
}

/* TODO: <<<NAVBAR>>> */

nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 5rem;
  background-color: var(--bg-color);
  z-index: 9;
}

.nav-link {
  position: relative;
  display: grid;
  place-items: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.nav-link:hover::before,
.nav-link.active::before {
  height: 5rem;
}

.nav-link span {
  position: relative;
  z-index: 1;
}

/* TODO: <<<HOME>>> */

.home {
  display: grid;
  place-content: center;
  place-items: center;
}

.home-name {
  font-size: 8rem;
  opacity: 0;
  text-align: center;
}

.home-profile {
  font-size: 3rem;
  opacity: 0;
  text-align: center;
}

.home-down {
  margin-top: 3rem;
  font-size: 3rem;
  opacity: 0;
  animation: homedown infinite 2s 1.5s;
}

@keyframes homedown {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* TODO: <<<ABOUT>>> */

.about-wrapper {
  display: grid;
  place-items: start;
  grid-template-columns: 400px 1fr;
  gap: 2rem;
}

.about-img {
  position: relative;
  line-height: 0;
}

.about-img img {
  aspect-ratio: 3/4;
  object-fit: cover;
}

.about-sayhi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  line-height: 150%;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.about-sayhi a {
  color: var(--bg-color);
}

.about-resume {
  display: grid;
  place-content: start;
  gap: 1rem;
}

.about-resume h3 {
  font-weight: 300;
}

.about-resume h2 {
  font-size: 4rem;
  line-height: 4.25rem;
}

.about-resume article {
  display: grid;
  gap: 1rem;
  font-weight: 300;
  line-height: 180%;
}

.about-resume article a {
  color: #aaa;
}

.about-resume article a:hover {
  text-decoration: underline;
}

.about-resume menu {
  display: flex;
  gap: 1rem;
}

/* TODO: <<<PORTFOLIO>>> */

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.portfolio h2 {
  text-align: center;
}

.portfolio-card {
  position: relative;
  width: calc(100% - 200px);
}

.portfolio-card img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.portfolio-card:nth-child(even) {
  align-self: end;
}

.portfolio-resume {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 400px;
  display: grid;
  gap: 1rem;
  transform: translate(-50%, -50%);

  background-color: var(--text-color);
  padding: 2rem;
  border: 3px solid var(--primary-color);
  color: var(--bg-color);
}

.portfolio-resume a {
  color: var(--primary-color);
}

.portfolio-resume a:hover {
  text-decoration: underline;
}

.portfolio-card:nth-child(even) .portfolio-resume {
  left: initial;
  right: 100%;
  transform: translate(50%, -50%);
}

.portfolio-resume h3 {
  font-size: 2rem;
}

/* TODO: <<<BLOG>>> */

.blog {
  display: grid;
  gap: 3rem;
  place-items: center;
}

.blog-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
  gap: 2rem;
}

.blog-card {
  display: grid;
  gap: 0.5rem;
}

.blog-img {
  overflow: hidden;
}

.blog-img:hover img {
  transform: scale(1.1);
}

.blog-img img {
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: 0.3s;
}

.blog-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.blog-caption:hover {
  text-decoration: underline;
}

.blog-caption span {
  font-size: 1rem;
}

/* TODO: <<<CONTACT>>> */

.contact {
  display: grid;
  gap: 1rem;
  place-content: start;
  justify-content: stretch;
}

.contact h2 {
  font-size: 6rem;
  line-height: 100%;
  margin-bottom: 2rem;
}

.contact p {
  color: #ddd;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.contact-direct {
  display: grid;
  gap: 1rem;
}

.contact-direct a:hover {
  text-decoration: underline;
}

.contact-social {
  display: flex;
  gap: 1rem;
}

.contact-social a {
  display: grid;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  place-items: center;
  transition: 0.3s;
}

.contact-social a:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

/* TODO: <<<FOOTER>>> */

footer {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.btn-top,
.btn-menu {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  place-content: center;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px rgba(var(--bg-code), 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.btn-top.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  * {
    scroll-padding-top: 0;
  }

  .section {
    min-height: 100vh;
  }

  /* TODO: <<<NAVBAR>>> */
  nav {
    position: fixed;
    inset: 0;
    height: initial;
    grid-template-columns: 1fr;
    transform: translateX(100%);
    transition: 0.3s;
  }

  nav.active {
    transform: translateX(0);
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .nav-link.active::before,
  .nav-link:hover::before {
    height: 100%;
  }

  /* TODO: <<<HOME>>> */

  .home-name {
    font-size: 3rem;
  }

  .home-profile {
    font-size: 1.5rem;
  }

  /* TODO: <<<ABOUT>>> */

  .about-wrapper {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }

  .about-img {
    width: 100%;
  }

  .about img {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .about h2,
  .about h3 {
    text-align: center;
  }

  .about p {
    text-align: justify;
  }

  .about h2 {
    font-size: 2rem;
    line-height: 100%;
  }

  .about menu {
    flex-wrap: wrap;
  }

  /* TODO: <<<PORTFOLIO>>> */

  .portfolio-card {
    width: 100%;
  }

  .portfolio-resume {
    padding: 1rem;
    width: 100%;
    position: static;
    transform: initial !important;
  }

  /* TODO: <<<CONTACT>>> */

  .contact h2 {
    font-size: 3rem;
    text-align: center;
  }

  .contact p {
    text-align: center;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
  }

  .contact-direct a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .contact-social {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* TODO: <<<FOOTER>>> */

  .btn-top {
    bottom: 1rem;
    right: 5rem;
  }

  .btn-menu {
    right: 1rem;
    bottom: 1rem;
    opacity: 1;
    visibility: visible;
  }
}
